@import "null.scss";

body{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #424242;
}

.container {
    width: 100%;
    max-width: 1508px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996D;
}

//----------------------------------------------------

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #fff;

        &__inner {
            width: 100%;
            max-width: 1370px;
            margin: 0px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0;
        }

		&__menu {
           display: flex;
           flex: 1 1 auto;
           flex-wrap: wrap;
           padding: 0px 15px;
		}

        &__item {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #292929;
            margin: 0px 72px 0px 0px;
            &:last-child {
                margin: 0;
            }
            &:hover {
                color: #01835e;
                transition: all 0.5s;
                text-decoration: underline;
            }
        }

		&__buttons {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
		}

        &__logo {
            padding: 0 172px 0 0;
        }
}

.header__burger {
    display: none;
}

/*@media (max-width: 980px) {
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .header__burger::before,
    .header__burger::after {
        counter: '';
        background-color: #01996D;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
    .header__burger span {
        position: absolute;
        background-color: #01996D;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9;
    }
}*/


@media (max-width: 1180px) {
    .header__inner {
        padding: 15px 0;
    }

    .header__logo {
        padding: 0px 20px 0px 0px;
    }

    .button_1 {
        display: none;
    }
}

.button_1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin: 0px 35px 0px 0px;
    &:hover {
        color: #01835e;
        transition: all 0.5s;
        text-decoration: underline;
    }
}


.button_2 {
    margin: 0px;
    max-height: 50px;
    max-width: 200px;
}

.btn {
    padding: 13px 50px;
    color: #FFFFFF;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    height: 100%;
    max-height: 65px;
    flex: inline-block;
    &:hover {
        background-color: #01835e;
        transition: all 0.5s;
    }
}


///-----------------------------

.intro {
    height: 895px;
    background: url("../img/BG.jpg") no-repeat center / cover;
}

.intro {

    &__text {
        padding: 175px 0px 0px 0px;
        width: 100%;
        max-width: 440px;
    }

    &__title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 65px;
        line-height: 74px;
        color: #01996D;
        margin: 0px 0px 30px 0px;
    }

    &__subtitle {
        font-weight: 400;
        line-height: 31px;
        margin: 0px 0px 30px 0px;
    }

    &__button {
        width: 100%;
        max-width: 235px;
        padding: 20px 50px;
    }
}


@media (max-width: 768px) {

    .intro__text {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .header__menu {
        display: none;
    }

    .intro {
       background: url('img/background/avatar.jpg') 0 0 no-repeat / contain ;
    }

}

///------------------------------------------------

.info {

    &__inner {
        width: 100%;
        max-width: 1390px;
        margin: 170px auto 75px;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: 1180px) {
       .info__inner {
            flex-wrap: wrap;
            text-align: center;
            align-items: center;
            justify-content: center;
       }
    }

    &__titles {
        display: flex;
        flex-direction: column;
        //flex: 0 1 50%;
        width: 100%;
        max-width: 585px;
        margin: 0 137px 0 0;
    }

    &__subtitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 157%;
        font-weight: 500;
    }

    &__title {

    }

    &__text {
        
    }

    &__par {
        line-height: 150%;
        font-weight: 500;
        padding: 60px 0px 0px 0;
    }
}

@media (max-width: 1180px) {
    .info__titles {
        margin: 0;
    }
 }

.info__columns {
    display: flex;
    width: 100%;
    max-width: 1390px;
    height: 100%;
    min-height: 1180px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0px 0px 57px 0px;
    flex-wrap: wrap;
}

.column {
    width: 100%;
    max-width: 390px;
    height: 100%;
    min-height: 885px;

}

.column {
    display: flex;
    flex-direction: column;
    margin: 0px 15px 40px;
    
    
    &_1 {
        background: url("../img/01.png") 0 0 no-repeat;
    }

    &_2 {
        align-self: flex-end;
        background: url("../img/02.png") 0 0 no-repeat;
    }

    &_3 {
        background: url("../img/03.png") 0 0 no-repeat;
    }

    &__title {
        font-family: 'Georgia';
        font-weight: 700;
        font-size: 30px;
        line-height: 150%;
        text-align: center;
        color: #000000;
        margin: 0px 0px 55px 0px;
        padding: 45px 0px 0px 0px;
    }

    &__subtitle {
        font-weight: 500;
        line-height: 150%;
        flex: 1 1 auto;
    }

    &__image {
        width: 100%;
        max-width: 390px;
        //max-height: 463.65px;
        background: url(.jpg), #C4C4C4;
        border-radius: 12px;
    }
}

@media (max-width: 1289px) {
    .column_3 {
        margin: 0 auto;
    }
 }


@media (max-width: 980px) {
    .info__columns {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .column_2 {
        align-self: center;
    }
 }

 @media (max-width: 768px) {
    .info__columns {
        margin: 0 auto;
    }

    .column {
        margin: 0 0 40px;
    }
 }

.about {
    width: 100%;
    height: 922px;
    background: #245852;
}

.about {

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 230px 0px 0px 0px;

    }

    &__text {
    }

    &__title {
        font-family: 'Georgia';
        font-weight: 700;
        font-size: 50px;
        line-height: 157%;
        color: #FFFFFF;
        margin: 0px 0px 33px 0px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 25px;
        line-height: 157%;
        color: #FFFFFF;
        margin: 0px 0px 57px 0px;
    }

    &__button {
    }
}



.video{
    border: solid 2px #245852;
    border-radius: 20px;  
    width: 100%; 
    max-width: 896px;
}



@media (max-width: 1289px) {
    .about__inner {
        flex-direction: column;
        padding: 65px 0px 0px 0px
    }

    .about__text {
        text-align: center;
        margin: 0px 0px 35px 0px;
    }

    .about__title {

    }
 }

 @media (max-width: 990px) {
    .about__title {
        font-size: 45px;
    }
 }




.product {
    width: 100%;

    &__inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1358px;
        margin: 0 auto;
        padding: 120px 0px 168px;
    }

    &__text {
        width: 100%;
        max-width: 584px;
        padding: 20px;
    }

    &__subtitle {
        font-weight: 600;
        font-size: 25px;
        line-height: 157%;
        margin: 0px 0px 10px 0px;
    }

    &__title {
        margin: 0px 0px 20px 0px;
    }

    &__par {
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
        margin: 0px 0px 40px 0px;
    }

    &__button {
    }

    &__image {
        position: relative;
        width: 100%;
        max-width: 640px;
    }

    &__card {
        position: absolute;
        margin: 350px 0px 0px -75px;
    }
}


@media (max-width: 1289px) {
    .product__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product__text {
        text-align: center;
        margin: 35px 0px 0px 0px;
    }

    .product__card {
        margin: -20px 0px 0px -300px;
    }
 }

 @media (max-width: 980px) {
    .product__card {
        display: none;
    }
}   

.footer {
    width: 100%;
    height: 654px;
    background: #245852;
}

.footer {

		&__inner {
            padding: 95px 0px 0px 0px;
            display: inline-block;
		}

		&__menu {
            display: flex;
            flex-direction: column;
            
		}

		&__item {
            font-weight: 400;
            font-size: 25px;
            line-height: 30px;
            color: #FFFFFF;
            margin: 0px 0px 60px 0px;
            &:last-child {
                margin: 0;
            }
            &:hover {
                color: #000;
                transition: all 0.5s;
            }
		}
}
.Alivio {
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
    color: #FFFFFF;
    margin: 0px 0px 60px 0px;
}

@media screen and (max-width: 980px) {
    .footer__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .Alivio {
        margin:  30px 0;
    }
}   

@media (max-width: 990px) {
    .title {
        font-size: 45px;
    }
}   